<script>
import { GlAlert } from '@gitlab/ui';

const GENERAL_ERROR_MESSAGE = 'A general error message';

export default {
    name: 'ErrorBoundary',
    components: {
        GlAlert,
    },
    props: {
        config: {
            type: Object,
            required: false,
            default: () => ({}),
        },
        propagate: {
            type: Boolean,
            required: false,
            default: false,
        },
    },
    data() {
        return {
            error: null,
        };
    },
    computed: {
        errorCode() {
            return this.error?.code;
        },
        errorMessage() {
            return (
                this.config[this.errorCode] ||
                this.error?.message ||
                GENERAL_ERROR_MESSAGE
            );
        },
    },
    errorCaptured(error) {
        this.error = error;
        this.$emit('error', error);
        return this.propagate;
    },
};
</script>
<template>
  <span>
    <gl-alert
      v-if="error"
      :dismissible="false"
      class="gl-mb-8"
      variant="danger"
    >
      {{ errorMessage }}
    </gl-alert>
    <slot name="default" />
  </span>
</template>
